body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #a8edea, #fed6e3); 
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 60px;
  text-align: center;
}
h1 {
  font-size: 3rem;
  color: #4a90e2;
  text-align: center;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  letter-spacing: 3px; 
  -webkit-background-clip: text;
  transition: transform 0.3s ease;
}

h1:hover {
  transform: scale(1.05);
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}


.search-bar-wrapper {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

.icon-wrapper {
  position: absolute;
  top: 50%;
  right: -100px;
  transform: translateY(-50%);
  display: flex;
  gap: 10px; 
}

.microphone-icon,
.camera-icon {
  font-size: 22px;
  color: black;
}
.search-bar {
  width: 100%;
  padding: 15px 60px 15px 60px; 
  border: none;
  border-radius: 50px;
  background-color: #f7f7f7;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  color: #4a4a4a;
  transition: all 0.3s ease;
}

.search-bar:focus {
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.suggestions-list {
  position: absolute;
  top: 50px;
  width: 100%;
  padding: 15px 60px 15px 60px;
  max-width: 600px; 
  max-height: 500px;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.suggestion-item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  color: #4a4a4a;
  border-bottom: 1px solid #eeeeee;
}

.suggestion-item:hover {
  background-color: #e4f0f5;
  color: #4a4a4a;
}

.suggestion-item strong {
  color: #4a90e2;
}

.suggestion-icon {
  font-size: 18px;
  margin-right: 10px;
  color: black;
}

.suggestions-list::-webkit-scrollbar {
  width: 8px;
}

.suggestions-list::-webkit-scrollbar-thumb {
  background-color: #b8d9e5;
  border-radius: 10px;
}
